[Unit]
Description={{ app_name }}service

[Service]
WorkingDirectory=/opt/prod
PIDFile=/opt/{{ app_name }}/pid/{{ app_name }}.pid
ExecStart=/opt/{{ app_name }}/bin/{{ app_name }}-v{{ app_version }}.jar
User=apps_user
Type=simple
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target